@model CAFE_MVC.Models.LICHSU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LICHSU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_HD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_HD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYLAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAN.TENBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAN.TENBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAIKHOAN.FULLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN.FULLNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
