@model IEnumerable<CAFE_MVC.Models.DATMON>

@if (Session["ID_USER"] != null)
{
    if (Model.ToList().Count > 0)
    {
        double tong = 0;
        <table class="table bg-light text-center border-dark table-bordered">
            <tr class="thead-dark">
                <th>
                    Tên Món
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Thời gian
                </th>
                <th>
                    Người thêm
                </th>
                <th>
                    Thành tiền
                </th>
                <th>
                    Tuỳ chọn
                </th>
            </tr>

            @foreach (var item in Model)
            {
                tong += double.Parse(item.THANHTIEN.ToString());
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SANPHAM.GIA) VNĐ
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYLAP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TAIKHOAN.FULLNAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.THANHTIEN) VNĐ
                    </td>
                    @if (Session["ID_USER"].ToString() == item.ID_TK.ToString())
                    {
                        <td>
                            @Html.ActionLink("cập nhật", "edit_datmon", "Ban", new { id = item.ID_HD }, htmlAttributes: new { })

                        </td>
                    }
                    else
                    {
                        <td>
                            <p>Món do <strong>@item.TAIKHOAN.FULLNAME</strong> thêm</p>
                        </td>

                    }
                </tr>

            }
        </table>
        <h4 class="text-center">Tổng tiền: @tong VNĐ</h4>

    }
    else
    {
        <h3 class="text-center">Chưa gọi món</h3>
    }
}
