@model List<CAFE_MVC.Models.DATMON>

@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/layout_user.cshtml";
}
@if (Session["ID_USER"] != null)
{
    double tong = 0;
    <div class="alert alert-danger text-lg-center">
        <h4 class="text-lg-center">THANH TOÁN CHO @Model.Select(s => s.BAN.TENBAN).FirstOrDefault()</h4>
    </div>
  
    <div class="container-sm">

        <hr />
        <table class="table bg-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên món</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th scope="col">Người thêm</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                tong += double.Parse(item.THANHTIEN.ToString());
                <tbody>
                    <tr>
                        <th scope="row">@item.SANPHAM.TENSP</th>
                        <td>@item.SOLUONG</td>
                        <td>@item.SANPHAM.GIA VNĐ</td>
                        <td>@item.THANHTIEN</td>
                        <td>@item.NGAYLAP</td>
                        <td>@item.TAIKHOAN.FULLNAME</td>
                    </tr>
                </tbody>
            }

        </table>
        <div class="alert alert-primary text-lg-center">
            <h4 class="text-lg-center">Tổng tiền: @tong VNĐ</h4>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color text-center">
                <input type="submit" value="XÁC NHẬN THANH TOÁN" class="btn btn-success" />
            </div>
            @Html.ActionLink("Trở lại", "Details", "Ban", new { id = Model.Select(s => s.ID_BAN).FirstOrDefault() }, htmlAttributes: new { @class = "btn btn-secondary" })
        }
    </div>
}
