@model CAFE_MVC.Models.BAN

@{
    ViewBag.Title = "Xoá bàn";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@if (Session["ID_USER"] != null && Session["TYPE"].ToString() == "0")
{
    <div class="alert alert-warning text-lg-center">
        <h2 class="text-lg-center">XOÁ BÀN</h2>
    </div>

    <h3>Bạn muốn xoá <strong class="text-danger">@Model.TENBAN</strong> ra khỏi <strong class="text-info">@Model.KHUVUC.TENKV</strong>  ?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Bàn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENBAN)
            </dd>

            <dt>
                Khu vực
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KHUVUC.TENKV)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xoá" class="btn btn-danger" /> 

            </div>
            <br />
            @Html.ActionLink("Quay lại", "Edit", "QLKhuvuc", new {id=Model.ID_KV }, htmlAttributes: new {})
        }
    </div>

}
else
{
    <p>Bạn chưa đăng nhập</p>
    @Html.ActionLink("Đăng nhập", "Login", "Dashboard")
}